#backToTopBtn {
    position: fixed;
    bottom: 2px;
    right: 31px;
    height: 42px;
    width: 45px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 500ms;
    display: none; /* Initially hide the button */
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  
  #backToTopBtn {
    background-color: white;
    color: black;
  }
  
  #backToTopBtn i {
    color: black;
  }

  .dark-mode #backToTopBtn {
    background-color: black;
    color: white;
  }

  .dark-mode #backToTopBtn i {
    color: white;
  }
  
  #backToTopBtn:hover {
    background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%);
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .dark-mode #backToTopBtn:hover {
    background: linear-gradient(135deg, #0c0a0f 0%, #8ec5fc 100%);
  }