* {
    color: white;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: black;
    font-family: 'Playfair Display', serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 150px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.snowflake {
    position: absolute;
    width: 0.3rem;
    height: 0.5rem;
    background-color: #ffffffec;
    animation: snowfall linear infinite;
    animation-duration: 10s;
    animation-fill-mode: both;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 3px 3px 6px #a970e2;
}

@keyframes snowfall {
    0% {
        transform: translateY(-10px) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.light-mode .snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.light-mode .snowflake {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #4134f7;
    animation: snowfall linear infinite;
    animation-duration: 10s;
    animation-fill-mode: both;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 2px 2px 6px #6d63f6;
}

.heading{
    font-weight: bold;
    font-size: 25px;
    display: block;
    font-family: arial;
    color: #f09819;
    margin-bottom: 20px;
    text-decoration: underline;
}

.desc, .desc div{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}

.box{
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
    background-image: none;
}

.aboutBox{
    margin-bottom: 30px;
}
strong{
    font-size: 20px;
}
.points{
    margin-bottom: 8px;
    margin-right: 35px;
    display: flex;
}
.empty{
    width: 100vw;
    height: 50px;
}
#n{
    margin-right: 10px;
}
.pointsFeedback{
    margin-bottom: 35px;
}
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ddd;
    font-size: 2em;
    padding: 0 0.1em;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5b301;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: linear-gradient(to bottom, #7a0a7d, #250027);
    padding: 0px  12px;
    margin: 15% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.popup-content h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-bottom: 20px;

}

.popup-content p {
    font-size: 19px;
    color: #afabab;
    margin-bottom: 20px;
}
.popup-content img {
    filter: brightness(-200) saturate(100%) invert(14%) sepia(97%) saturate(74979%) hue-rotate(296deg) brightness(40%) contrast(140%);

}

.popup.open {
    display: block;
}

.no-scroll {
    overflow: hidden;
}

#backToHomeBtn {
    background-color: #ad27b2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 8px;
}