* {
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: black;
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 150px;
}

.feedback-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    text-shadow: 1px 1px 1px rgb(0, 78, 130), 0 0 0.2em rgb(240, 122, 195), 0 0 0.2em blue;
    
}

#changingHeading {
    font-size: 42px !important;
    font-weight: bolder !important;
    color: #f0bef0 !important;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.snowflake {
    position: absolute;
    width: 0.3rem;
    height: 0.5rem;
    background-color: #ffffffec;
    animation: snowfall linear infinite;
    animation-duration: 10s;
    animation-fill-mode: both;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 3px 3px 6px #a970e2;
}

@keyframes snowfall {
    0% {
        transform: translateY(-10px) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.light-mode .snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.light-mode .snowflake {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #4134f7;
    animation: snowfall linear infinite;
    animation-duration: 10s;
    animation-fill-mode: both;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 2px 2px 6px #6d63f6;
}

.heading{
    font-weight: bold;
    font-size: 25px;
    display: block;
    font-family: arial;
    color: #f09819;
    margin-bottom: 20px;
    text-decoration: underline;
}

.desc, .desc div{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-align: justify;
}

.box {
    padding: 20px;
    margin: 50px auto; 
    background-color: #290a1d; 
    border-radius: 10px; 
    max-width: 600px; 
}

.inputFeedback {
    display: flex;
    flex-direction: column;
}

.pointsFeedback {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.aboutBox{
    margin-bottom: 30px;
}
strong{
    font-size: 20px;
    color: rgb(255, 255, 255) !important;
}

.points {
    margin-right: 20px;
    text-align: left; 
    flex: 0 0 150px; 
}


.empty{
    width: 100vw;
    height: 50px;
}
#n{
    margin-right: 10px;
}
.pointsFeedback{
    margin-bottom: 35px;
}
.star-rating {
    display: flex;
    justify-content: center;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #795656;
    font-size: 2em;
    padding: 0 0.1em;
    cursor: pointer;
    transition: color 0.2s;
}


.feedback-item label {
    margin-right: 10px;
    text-shadow: 1px 1px 1px rgb(0, 78, 130), 0 0 0.2em rgb(240, 122, 195), 0 0 0.2em blue;
    
}

input[type="text"],
textarea{
    width: 70%;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #000;
    margin-bottom: 20px;
    margin-top: 20px;
}
input[type="email"] {
    width: 70%;
    margin-left: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #000;
}
input[type="text"]:focus,
input[type="email"]:focus{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #e0fffc;
    color: #000;
}

select {
    margin-left: 30px;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: hsl(0, 0%, 94%);
    color: #000;
}


button {
    background-color: #ad27b2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #8b1f8f;
    text-shadow: 1px 1px 2px rgb(0, 78, 130), 0 0 0.5em rgb(240, 122, 195), 0 0 0.2em blue;
    
}

.feedback-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

textarea {
    width: 100%;
    margin-left: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #000;
}
textarea:focus {
    width: 100%;
    margin-left: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #000;
}

.yourfeed {
    text-align: left !important;
    text-shadow: 1px 1px 1px rgb(0, 78, 130), 0 0 0.2em rgb(240, 122, 195), 0 0 0.2em blue;
    margin-right: 430px;
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    direction: rtl;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ddd;
    font-size: 50px !important;
    padding: 0 0.1em;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
    direction: ltr; 
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5b301;
    transform: scale(1.2);
}

.star-rating input[type="radio"]:checked ~ label {
    color: #f5b301;
    transform: scale(1.2);
}

.star-rating input[type="radio"]:checked + label,
.star-rating input[type="radio"]:checked + label ~ label {
    color: #f5b301;
    transform: scale(1.2);
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: linear-gradient(to bottom, #7a0a7d, #250027);
    padding: 0px  12px;
    margin: 15% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.popup-content h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-bottom: 20px;

}

.popup-content p {
    font-size: 19px;
    color: #afabab;
    margin-bottom: 20px;
}
.popup-content img {
    filter: brightness(-200) saturate(100%) invert(14%) sepia(97%) saturate(74979%) hue-rotate(296deg) brightness(40%) contrast(140%);

}

.popup.open {
    display: block;
}

.no-scroll {
    overflow: hidden;
}

#backToHomeBtn {
    background-color: #ad27b2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 8px;
}


@media (max-width: 768px) {
    .box {
        padding: 15px;
        margin: 30px auto;
    }

    .heading {
        font-size: 20px;
    }

    .desc,
    .desc div {
        font-size: 18px;
    }

    input[type="text"],
    textarea,
    input[type="email"] {
        width: 100%;
    }

    .pointsFeedback {
        flex-direction: column;
        align-items: flex-start;
    }

    .points {
        margin-bottom: 10px;
        margin-right: 0;
        text-align: left;
    }

    .star-rating label {
        font-size: 2em;
    }

    .feedback-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .yourfeed {
        margin-right: 0;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .box {
        padding: 10px;
        margin: 20px auto;
    }

    .heading {
        font-size: 18px;
    }

    .desc,
    .desc div {
        font-size: 16px;
    }

    .star-rating label {
        font-size: 1.5em;
    }
}