* {
    font-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
}

h1 {
    color: indigo;
    color: dar;
    text-align: center;
    text-decoration: underline;
}

.box {
    background: linear-gradient(magenta, gold);
    border-radius: 20px;
    padding: 0px 10px 10px 10px;
    box-shadow: 0px 0px 15px 10px black;
}

#view,
#unit {
    text-align: center;
    border-radius: 10px;
}

#time {
    border-radius: 10px;
}

#color {
    border-radius: 10px;
}

#submit {
    background-color: green;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-color: darkgreen;
}

#reset {
    border-radius: 10px;
    background-color: red;
    cursor: pointer;
}

#reset:hover {
    background-color: darkred;

}

.button {
    margin-top: 40px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

#error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-weight: 700;
}

img {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px black;
    border-radius: 5px;
    margin-top: 5px;
    height: 50px;
    width: 50px;
}

img:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1048px) {
    * {
        font-size: 35px;
    }

    .button {
        margin-top: 30px;
        margin-bottom: 12px;
    }

    img {
        width: 45px;
        height: 45px;
    }
}

@media only screen and (max-width: 924px) {
    * {
        font-size: 30px;
    }
}

@media only screen and (max-width: 800px) {
    * {
        font-size: 25px;
    }

    .button {
        margin-top: 20px;
        margin-bottom: 8px;
    }

    img {
        width: 35px;
        height: 35px;
        box-shadow: 0px 0px 3px 3px black;
    }

    .box {
        padding: 0px 5px 5px 5px;
        box-shadow: 0px 0px 10px 5px black;
    }
}

@media only screen and (max-width: 676px) {
    * {
        font-size: 20px;
    }
}

@media only screen and (max-width: 552px) {
    * {
        font-size: 15px;
    }

    .button {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    img {
        width: 25px;
        height: 25px;

    }
}

@media only screen and (max-width: 428px) {
    * {
        font-size: 10px;
    }
}
footer{
    background-color: rgb(45, 45, 52);
}
.footerContainer{
    
    width: 100%;
    height: vw;

}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: rgb(206, 174, 174);
    margin: 2vw;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 1em;
    color: rgb(45, 45, 52);
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #111;
    height: 5vw;
    text-align: center;
}
.footerBottom p{
    color: white;
    
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        
       
    }
}
