* {
  font-size: 40px;
}

body {
  margin: 0;
  padding: 0;
@@ -15,19 +12,15 @@ body {
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

.background {
  width: 430px;
  height: 520px;
@@ -36,31 +29,26 @@ body {
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -240px;
  top: -100px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -240px;
  bottom: -100px;
}

h1 {
  font-size: 34px;
  text-align: center;
}

.box {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 20px;
@@ -74,12 +62,10 @@ h1 {
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 22px;
  font-weight: 500;
}

input {
  background-color: rgba(255, 255, 255, 0.07);
  outline: none;
@@ -89,26 +75,21 @@ input {
  padding: 5px 10px;
  border-radius: 10px;
}

::placeholder {
  color: #d3d1d1;
  font-size: 20px;
}

input:focus {
  outline: none;
  border: none;
}

i {
  font-size: 24px;
}

strong {
  font-size: 24px;
  color: skyblue;
}

#view,
#unit,#sound{
  text-align: center;
@@ -121,75 +102,62 @@ strong {
  font-size: 24px;
  width: auto;
}


select option {
  color: #e5e5e5;
  font-size: 24px;
  background-color: #333;
  border: none;
  outline: none;
}

#time,
#color {
  border-radius: 10px;
}

#submit {
  background-color: green;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s all;
}

#submit:hover {
  background-color: darkgreen;
}

#reset {
  border-radius: 10px;
  background-color: red;
  cursor: pointer;
  transition: 0.2s all;
}

#reset:hover {
  background-color: rgb(169, 2, 2);
}

.button {
  margin-top: 5px;
  margin-top: 40px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  border:none;
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

#error {
  display: flex;
  align-items: center;
  justify-content: center;
}

#error strong {
  font-size: 22px;
}

.connect {
  margin-top: 50px;
  display: flex;
@@ -198,46 +166,37 @@ button {
  gap: 50px;
  font-weight: 700;
}

a {
  display: inline-block;
  width: 45px;
  height: 45px;
  transition: 0.2s all;
}

a:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 915px) {
  * {
    font-size: 18px !important;
  }

  h1 {
    margin-bottom: 5px;
    font-size: 24px !important;
  }

  input, #unit {
    margin-top: 10px;
  }

  #time, #unit {
    width: 45%;
  }

  .box {
    padding: 10px 15px;
    margin: 5px;
  }

  .background {
    display: none;
  }
}

#timerDisplay {
    position: fixed;
    top: 10px;
@@ -249,7 +208,6 @@ a:hover {
    padding: 10px;
    border-radius: 5px;
}

#message {
    display: none;
    position: fixed;
@@ -263,7 +221,6 @@ a:hover {
    font-size: 18px;
    text-align: center;
}

#fullscreenBtn {
    position: fixed;
    top: 20px;
@@ -277,7 +234,6 @@ a:hover {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#fullscreenBtn:hover {
    background: linear-gradient(to right, #ff512f, #f09819)
}
@@ -288,7 +244,6 @@ footer{

  width: 100%;
  height: vw;

}
.socialIcons{
  display: flex;
@@ -330,7 +285,6 @@ footer{
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
@@ -365,7 +319,6 @@ footer{
    margin: 4px;
}
}

#musicDropdown {
  text-align: center;
  border-radius: 10px;
@@ -379,7 +332,6 @@ footer{
  top: 90px; /* Adjust the position as needed */
  left: 10px;
}

#musicDropdown select {
  color: #e5e5e5;
  font-size: 24px;
@@ -390,277 +342,5 @@ footer{

#musicDropdown:hover {
    background: linear-gradient(to right, #ff512f, #f09819);

#musicDropdown:hover {
    background: linear-gradient(to right, #ff512f, #f09819);
}

